{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/main.css' %}">
    {% block loadStatic %}{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Shop_{% block title %}{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar">
        <ul class="branding">
            <li class="logo">
                <a href="#" class="branding-logo"><b style="color: #FDD052FF">K</b>AMA</a>
            </li>
        </ul>
        <div class="search_box">
            <input type="search" placeholder="Search here...">
            <span class="fa fa-search"></span>
        </div>
        <label for="input-hamburger" class="hamburger"></label>
        <input type="checkbox" id="input-hamburger" hidden>
        <ul class="menu">

            {% if user.is_authenticated %}
                <li class="has-dropdown">
                    <a href="#" class="menu-link">
                        {{ user.username }}
                        <span class="arrow"></span>
                    </a>
                    <ul class="submenu">
                        <li><a href="#" class="menu-link">profile</a></li>
                        <li><a href="{% url 'account:logout' %}" class="menu-link">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li><a href="#" class="menu-link">Login Here</a></li>
            {% endif %}

            <li><a href="#" class="menu-link">Category</a></li>
            <li><a href="#" class="menu-link">Home</a></li>
        </ul>
    </nav>
</header>
<div class="main-content container-fluid p-0">
    {% block sidebar %}{% endblock %}
    {% block content %}{% endblock %}
</div>
<div class="container-fluid footer bg-warning">
    <p class="text-center mb-0 text-white">
        هرگونه کپی برداری پیگرد قاونی دارد
    </p>
</div>
<script src="{% static 'store/js/base.js' %}"></script>
{% block loadJs %}
{% endblock %}
</body>
</html>
