{% extends 'store/base.html' %}
{% load static %}
{% block loadCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/home.css' %}">
{% endblock %}
{% block title %}home{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}
    <section class="product" id="product">

        <h1 class="heading"> latest <span>product</span></h1>

        <div class="box-container">
            {% for product in all_products %}
                <div class="box">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-eye"></a>
                    <img src="{{ MEDIA_URL }}/media/{{ product.image }}" alt="">
                    <h3>{{ product.title }}</h3>
                    <div class="stars pro-stars" id="{{ product.id }}"></div>
                    <span>{{ product.price }}T</span><br>
                    <a href="#" class="btn">Add To Cart</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block loadJs %}
    <script src="{% static 'store/js/home.js' %}">
    </script>
{% endblock %}