{% extends 'store/base.html' %}
{% load static %}
{% block loadStatic %}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/home.css' %}">
{% endblock %}
{% block title %}home{% endblock %}
{% block sidebar %}
    {% for product in popular_products %}
        {{ product.title }}<br>
    {% endfor %}
{% endblock %}
{% block content %}
    <div class="container-fluid latest_product">
        <div class="row">
            {% for product in all_products %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    {{ product.title }}<br>
                    {{ product.updatedTime }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block loadJs %}
    <script src="{% static 'store/js/home.js'%}">
    </script>
{% endblock %}