{% extends 'store/base.html' %}
{% load static %}
{% load i18n %}
{% block loadCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/home.css' %}">
{% endblock %}
{% block title %}home{% endblock %}
{% block sidebar %}
{% endblock %}
{% block content %}

    <section class="category_view" id="product">

        <h1 class="heading"> {% translate 'latest'%} <span>{% translate 'products' %}</span></h1>

        <div class="box-container">
            {% for product in all_products %}
                <div class="box">
                    <a class="fas fa-heart"></a>
                    <a class="fas fa-eye"></a>
                    <img src="/media/{{ product.image }}" alt="">
                    <h3>{{ product.title }}</h3>
                    <div class="stars pro-stars" id="{{ product.id }}"></div>
                    <span class="proPrice">{{ product.price }}<b style="color: var(--black-color);"> T </b></span><br>
                    <a data-product="{{ product.id }}" data-action="add" class="btn update-cart">{% translate 'Add To Cart'%}</a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
{% block loadJs %}
    <script src="{% static 'store/js/cart.js' %}"></script>
{% endblock %}