{% extends 'store/base.html' %}
{% load static %}
{% block loadCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/profile.css' %}">
{% endblock %}
{% block title %}profile{% endblock %}
{% block content %}
    <section>
        <div class="profile-div">
            <div class="leftbox">
                <nav>
                    <a onclick="tabs(0)" class="tab active">
                        <i class="fa fa-user"></i>
                    </a>
                    <a onclick="tabs(1)" class="tab">
                        <i class="fa fa-address-book"></i>
                    </a>
                    <a onclick="tabs(2)" class="tab">
                        <i class="fa fa-key"></i>
                    </a>
                    <a onclick="tabs(3)" class="tab">
                        <i class="fa fa-cog"></i>
                    </a>
                </nav>
            </div>
            <div class="rightbox">
                <form id="edit-information" action="{% url 'account:edit-information' %}" method="post">
                    {% csrf_token %}
                    <div class="profile tabShow active">
                        <input type="text" name="username" value="{{ user.username }}" hidden>
                        <h1>Personal Info</h1>
                        {% if editInfo_response %}
                            {% if editInfo_response == 'True' %}
                                <div class="for_edited">
                                    <p>Your personal information edited successfully</p>
                                </div>
                            {% else %}
                                <div class="for_error">
                                    <p>{{ editInfo_response }}</p>
                                </div>
                            {% endif %}
                        {% endif %}
                        <h2>First Name</h2>
                        <input type="text" class="input" name="first_name" value="{{ user.first_name }}">
                        <h2>Last Name</h2>
                        <input type="text" class="input" name="last_name" value="{{ user.last_name }}">
                        <h2>Age</h2>
                        {% if user.age %}
                            <input type="number" class="input" min="1" name="age" value="{{ user.age }}">
                        {% else %}
                            <input type="number" class="input" min="1" name="age" placeholder="Enter your age">
                        {% endif %}
                        <h2>Gender</h2>
                        <select name="gender" id="gender">
                            {% if user.gender == 'Male' %}
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            {% elif user.gender == 'Female' %}
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                                <option value="Other">Other</option>
                            {% elif user.gender == 'Other' %}
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                                <option value="Other">Other</option>
                            {% else %}
                                <option value="None">Not selected</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                                <option value="Other">Other</option>
                            {% endif %}
                        </select>
                        <h2>Email</h2>
                        <input type="email" class="input" name="email" value="{{ user.email }}"><br>
                        <input type="submit" class="btn" value="UPDATE">
                    </div>
                </form>
                <form action="">
                    <div class="address tabShow" id="address_div">

                        <h1>Address Information</h1>
                        {% if addresses %}
                            <table id="address_table">
                                <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Province</th>
                                    <th>City</th>
                                    <th>Address</th>
                                    <th>Postal-Code</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody id="tbodyTag">
                                {% for address in addresses %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><input type="text" class="input" value="{{ address.province }}"></td>
                                        <td><input type="text" class="input" value="{{ address.city }}"></td>
                                        <td><textarea rows="3" class="input">{{ address.address }}</textarea></td>
                                        <td><input type="number" class="input" value="{{ address.postal_code }}"></td>
                                        <td><i data-url="{% url 'account:delete-address' address.id %}"
                                               class="fa fa-trash delete_address"></i></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h3>There is no address submitted !!!</h3>
                        {% endif %}
                    </div>
                </form>

                <form id="change_pass" action="#" method="post">
                    {% csrf_token %}
                    <div class="Privacy tabShow">
                        <h1>Security Info</h1>
                        <div class="for_edited" id="resp_true" style="display: none">
                            <p>Your personal information edited successfully</p>
                        </div>
                        <div class="for_error" id="resp_error" style="display: none">
                            <p id="resp_error_p"></p>
                        </div>
                        <h2>Password</h2>
                        <input type="hidden" name="username" id="pass_username" value="{{ user.username }}">
                        <input type="password" class="input" name="password" id="password" required>
                        <h2>Confirm Password</h2>
                        <input type="password" class="input" name="confirm_password" id="confirm_password" required><br>
                        <input type="submit" id="pass_btn" class="btn" value="Update">
                    </div>
                </form>
                <form action="">
                    <div class="profile tabShow">
                        <h1>Setting</h1>
                        <h2>Language</h2>
                        <select name="lang" id="lang">
                            <option value="en">English</option>
                            <option value="fa">Persian</option>
                        </select><br>
                        <button class="btn">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block loadJs %}
    <script src="{% static 'account/js/profile.js' %}"></script>
{% endblock %}