{% extends 'store/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block loadCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/reset_pass.css' %}">
{% endblock %}
{% block title %}reset-password{% endblock %}
{% block content %}
    <section id="reset_sec" class="row">
        <div class="reset_pass_div ">
            {% if error %}
                <h1 class="error_reset">{{ error }}</h1>
            {% endif %}
            {% if message %}
                <h1 class="message_reset">{{ message }}</h1>
                <input type="text" id="message" hidden>
            {% endif %}
            <form action="" method="post" id="reset_form">
                {% csrf_token %}
                <input type="text" name="username" value="{{ user_obj.username }}" hidden>
                <input type="password" name="password" required placeholder="{% translate 'password' %}"><br>
                <input type="password" name="confirm_password" required
                       placeholder="{% translate 'confirm_password' %}"><br>
                <input type="submit" class="btn" value="{% translate 'Change Password' %}"><br>
            </form>
            <a href="{% url 'store:home' %}" class="btn" id="home_btn_link"
               style="display: none">{% translate 'Home' %}</a>
        </div>

    </section>

{% endblock %}
{% block loadJs %}
    <script>
        if (document.getElementById('message')) {
            document.getElementById('reset_form').style.display = 'none'
            document.getElementById('home_btn_link').style.display = 'block'
        }
    </script>
{% endblock %}