{% extends 'store/base.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block loadCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/reset_pass.css' %}">
{% endblock %}
{% block title %}reset-password{% endblock %}
{% block content %}
    <section>
        <div class="reset_pass">
            <form action="" method="post">
                {% csrf_token %}
                <input type="password" name="password" placeholder="{% translate 'password' %}">
                <input type="password" name="confirm_password" placeholder="{% translate 'confirm_password' %}">
                <input type="submit" value="{% translate 'Change Password' %}">
            </form>
        </div>
    </section>

{% endblock %}